

.containerNavbar {
  display: flex;
  height: 70px;
  width: 100%;
  background-color: black;
  justify-content: space-between;
}

.containerHome{
  display: flex;
  flex-direction: row;
  height: 79%;
  justify-content: space-around;
}

.containerApp {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  width: 100%;
  background-color: rgb(211, 211, 211);
}
.App{
  height: 100%;
  width: 100%;
}
.titleNavbar{
  display: flex;
  flex-direction: row;
  font-size: 40px;
  font-weight: bold;
  align-items:flex-start;
  height: 100%;
  width: 20%;
  margin-left: 15px;
  
  color:rgb(231, 211, 155)
}
.linkContainer{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  width: 40%;
}
.link{
  text-decoration: none;
  color:rgb(128, 128, 128);
  font-size: 15px;
  font-weight: bold;
  
}
.link:hover{
  text-decoration: none;
  color:rgb(255, 255, 255);
  font-size: 15px;
  font-weight: bold;
  
}
.containerFoother{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black;
  height: 14%;
  width: 100%;
  color:white;
}
.reservasTable{
  display:flex;
  flex-direction: column;
  justify-content: flex-start;
  height: 100%;
  width: 50%;
  overflow-x:auto ;
  text-align: center;
  
}

.productTable{
  display:flex;
  flex-direction: column;
  justify-content:flex-start;
  height: 100%;
  width: 40%;
  text-align: center;
}

table tr:nth-child(even){
  background-color: rgb(214, 211, 211);
}
table tr:nth-child(odd){
  background-color: rgb(255, 255, 255);
} 

tr:hover td{
  background-color: rgb(44, 43, 43);
  color:white;
}

table{
  border-collapse: collapse;
  
}
td,th{
  border: 1px solid rgb(189, 189, 189);
  border-left: none;
  border-right: none;
  padding: 10px;
  
}

th{
  background-color: rgb(49, 49, 49);
  color: white;
  
}

.tableTitle{
  text-align: center;
}
.cartaTable{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 100%;
}

.allergens{
  height: 20px;
  width: 20px;
}
.containerAllergens{
  display: flex;
  flex-direction: row;
}
.containerPages{
  width: 80%;
  height: 100%;
}
.tableFood{
  width: 100%;
  text-align: center;
}
.DeleteButton{
  border: none;
  background-color: red;
  color: white;
  border-radius: 5px;
  padding: 5px;
  margin-right: 10px;
}
.UpdateButton{
  border: none;
  background-color: rgb(69, 100, 241);
  color: white;
  border-radius: 5px;
  padding: 5px;
  margin-right: 10px;
}

.ContainerAddFood{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 80%;
  
}

.ContainerProducts{
  height: 100%;
  overflow-y: auto;
  background-color: white;
}

.form{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  height: 100%;
  width: 20%;
  background-color: white;
  padding: 20px;
}
.inputFood{
  margin-bottom: 10px;
  width: 80%;
 
}
.containerSelected{
  height: 100%;
  width: 50%;
  overflow-y: auto ;
}
.tableSelected{
  width: 100%;
  text-align: center;
}
.noneProduct{
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.containerEmploye{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 100%;
}
.TableEmploye{
  width: 100%;
  height: 100%px;
  overflow-y:auto ;
  text-align: center;
}
.inputFilter{
  margin-right:20px ;
  margin-bottom: 20px;
  padding: 10px;
  width: 300px;
  border:none;
  border-radius: 10px;
  text-align: center;
}
.containerFilterEmploye{
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  width: 50%;
  margin-left: 20px;
}
.actionEmploye{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 100%;
}
.addButtonFilter{
  height: 40px;
  width: 300px;
  color:white;
  background-color: rgb(69, 100, 241);
  border:none;
  border-radius: 10px;
  font-weight: bold;
  
}
.formEmploye{
  height: 80%;
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: white;
  border-radius: 5px;
  
}
.containerFormEmploye{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  
}
.inputEmploye{
  margin-left: 10px;
  border: none;
  background-color: rgb(211, 211, 211);
  color: white;
  padding: 10px;
  text-align: center;
  border-radius: 5px;
}
.buttonBoxEmploye{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.buttonSend{
  background-color: rgb(69, 100, 241) ;
  border:none;
  padding: 10px;
  color:white;
  border-radius: 5px;
  width: 100px;
}
.titleAdd{
  text-align: center;
}
.UpdateButtonEmploye{
  border:none;
  text-decoration: none;
  color:white;
  background-color: rgb(69, 100, 241);
  margin-right: 10px;
  padding: 5px;
  border-radius: 5px;
  font-weight: bolder;
}
.DeleteButtonEmploye{
  border:none;
  text-decoration: none;
  color:white;
  background-color: rgb(240, 62, 62);
  margin-right: 10px;
  padding: 8px;
  border-radius: 5px;
  font-weight: bolder;
}
label{
  font-weight: bolder;
}
.containerCostes{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: flex-start;
  height: 85%;
}
.products{
  width: 33%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.containerTableProduct{
  height: 100%;
  overflow-y: auto;
}
.containerEmployesCost{
  height: 100%;
  overflow-y: auto;
}
.employe{
  width: 33%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}
.pagination{
  margin-top: 10px;
  height: 40px;
  width: 40px;
  background-color: rgb(90, 90, 218);
  color: white;
  font-size: 20px;
  border: none;
  
}
.addButtonFood{
  background-color: rgb(90, 90, 218) ;
  height: 40px;
  width: 200px;
  border: none;
  padding: 10px;
  margin-bottom: 20px;
  border-radius: 5px;
  color:white;
}
.labelFiltro{
  margin-right: 10px;
  text-align: center;
}
.productRequest{
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  justify-content: flex-start;
  align-items: center;
}
.tableProductProv{
  width: 80%;
}
.containerResult{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 30%;
  height: 200 ;
  padding: 20px;
  background-color: white;
  border-radius: 10px;
}
.containerCosto{
  width: 80%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
h1{
  text-align: center;
}
